openapi: 3.1.0
info:
  title: Zendesk Sell (Sales CRM) Contacts API
  description: 'The Zendesk Sell Sales CRM API (formerly Base CRM) is a RESTful API hosted

    at api.getbase.com that provides programmatic CRUD access to Sell records

    including leads, contacts, deals, and other sales-pipeline resources. The

    Sell platform also offers Sync, Firehose, and Search APIs alongside the

    Core API documented here. Authentication uses OAuth 2.0.'
  version: '2.0'
  contact:
    name: Zendesk Developer Portal
    url: https://developer.zendesk.com/api-reference/sales-crm/introduction/
servers:
- url: https://api.getbase.com
  description: Sell production API
security:
- oauth2: []
tags:
- name: Contacts
  description: Individual people and organizations.
paths:
  /v2/contacts:
    get:
      tags:
      - Contacts
      summary: List contacts
      operationId: listContacts
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
          maximum: 100
      - name: ids
        in: query
        schema:
          type: string
      - name: creator_id
        in: query
        schema:
          type: integer
      - name: owner_id
        in: query
        schema:
          type: integer
      - name: is_organization
        in: query
        schema:
          type: boolean
      - name: email
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of contacts
    post:
      tags:
      - Contacts
      summary: Create a contact
      operationId: createContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Contact created
  /v2/contacts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Contacts
      summary: Retrieve a contact
      operationId: getContact
      responses:
        '200':
          description: Contact
    put:
      tags:
      - Contacts
      summary: Update a contact
      operationId: updateContact
      responses:
        '200':
          description: Contact updated
    delete:
      tags:
      - Contacts
      summary: Delete a contact
      operationId: deleteContact
      responses:
        '204':
          description: Contact deleted
  /v2/contacts/upsert:
    post:
      tags:
      - Contacts
      summary: Upsert a contact
      operationId: upsertContact
      responses:
        '200':
          description: Contact upserted
components:
  schemas:
    Contact:
      type: object
      properties:
        name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        phone:
          type: string
        mobile:
          type: string
        customer_status:
          type: string
          enum:
          - none
          - current
          - past
        prospect_status:
          type: string
          enum:
          - none
          - current
          - lost
        is_organization:
          type: boolean
        owner_id:
          type: integer
        tags:
          type: array
          items:
            type: string
        custom_fields:
          type: object
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 (authorization code, implicit, password, and refresh token grants).
      flows:
        authorizationCode:
          authorizationUrl: https://api.getbase.com/oauth2/authorize
          tokenUrl: https://api.getbase.com/oauth2/token
          scopes:
            read: Read access to Sell data
            write: Write access to Sell data
